<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Makeup and Hair by Adelina</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <script src="https://use.fontawesome.com/20969d6e40.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.rawgit.com/tonystar/bootstrap-hover-tabs/master/bootstrap-hover-tabs.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and
         media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js">
      </script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  <body data-spy="scroll"
        data-target=".navbar-collapse">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top"
         role="navigation">
      <div class="container-fluid nav-bar-desktop">
        <div class="navbar-header glambyadelina">
          <a class="navbar-brand"
             id="logo"
            href="#landing">
            Makeup and Hair by Adelina
          </a>
          <button type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse">
            <p class="sr-only">Toggle navigation</p>
            <p class="icon-bar"></p>
            <p class="icon-bar"></p>
            <p class="icon-bar"></p>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs">
              <a href="#landing">Contact</a>
            </li>
            <li>
              <a href="#home">Home</a>
            </li>
            <li class="hidden-xs">
              <a href="#reviews">Reviews</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li class="hidden-xs">
              <a href="#tools">Tools</a>
            </li>
            <li>
              <a href="#services">Services</a>
            </li>
            <li class="hidden-xs">
              <a href="#specials">Specials</a>
            </li>
            <li>
              <a href="#blog">Blog</a>
            </li>
            <li class="hidden-xs">
              <a href="#contact">Contact</a>
            </li>
            <li class="hidden-xs">
              <a href="#booking">Booking</a>
            </li>
            <li class="visible-xs">
              <a href="https://adelina.setmore.com/"
                 target="_blank">
                 Booking
              </a>
            </li>
          </ul>
        </div> <!-- nav -->
      </div> <!-- end nav container-->
    </nav><!-- End Navigation-->

    <!-- Landing -->
    <div class="jumbotron"
         id="landing">
      <div class="gray-overlay landing-jumbo anchor">
        <div class="container landing-container">
          <!-- Mobile Version -->
          <div class="visible-xs text-center">
            <h1>Makeup and Hair in San Francisco</h1>
            <h2>Adelina Eidelman</h2>
            <!-- Contact Info List -->
            <ul class="text-left">
              <li>
                <a href="mailto:adelina@glambyadelina.com?subject=Makeup%20and%20hair%20question%20">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  adelina@glambyadelina.com
                </a>
              </li>
              <li>
                <a href="tel:678-231-3108">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  678-231-3108
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/makeupandhairbyadelina/"
                   target="_blank">
                   <i class="fa fa-instagram" aria-hidden="true"></i>
                   Instagram
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/makeupandhairbyadelina/"
                   target="_blank">
                   <i class="fa fa-facebook-square" aria-hidden="true"></i>
                   Facebook
                </a>
              </li>
              <li>
                <a href="https://www.yelp.com/biz/makeup-and-hair-by-adelina-san-francisco"
                   target="_blank">
                   <i class="fa fa-yelp" aria-hidden="true"></i>
                   Yelp
                </a>
              </li>
            </ul>
          </div> <!-- End Mobile Version -->
          <!-- Main Version -->
          <div class="hidden-xs">
            <div id="myCarousel"
                 class="carousel slide"
                 data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner"
                   role="listbox">
                <div class="item active text-center">
                  <h1>San Francisco's New Makeup Artist</h1>
                  <p>Makeup is often tedius, but for Adelina, it's like painting
                     a portrait. Now, you have a new source of inspiration for
                     all things makeup and hair.
                  </p>
                </div>
                <div class="item text-center">
                  <h1>International Experience in the Bay Area</h1>
                  <p>From New York to Moscow, women all over the world have
                     received excellent service. Now that level of quality is
                     available in your own backyard.
                  </p>
                </div>
                <div class="item text-center">
                  <h1>Award Winning Service</h1>
                  <p>Whether it's a wedding or a first date, a fashion shoot or
                     the launch of your new company, Adelina has all the tools
                     and tips to make you look your best!
                  </p>
                </div>
              </div>
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel"
                    data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel"
                    data-slide-to="1"></li>
                <li data-target="#myCarousel"
                    data-slide-to="2"></li>
              </ol>
            </div>
            <!-- Social Media -->
            <div class="row social-media">
              <div class="text-center">
                <a href="https://www.instagram.com/adelina_eidelman/"
                   target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/makeupandhairbyadelina/"
                   target="_blank">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.yelp.com/biz/makeup-and-hair-by-adelina-san-francisco"
                   target="_blank">
                  <i class="fa fa-yelp" aria-hidden="true"></i>
                </a>
              </div>
            </div> <!-- End social media -->
          </div> <!-- End Main Version -->
          <!-- Voyage ATL Link -->
          <div class="text-center feature">
            <a href="http://voyageatl.com/interview/meet-adelina-eidelman-of-glam-by-adelina-in-buckhead/"
               target="_blank">
              <h3>
                Featured in
                <img src="http://voyageatl.com/wp-content/uploads/2016/07/atl-small.png">
              </h3>
            </a>
          </div>
          <!-- Desktop Booking Button -->
          <div class="booking-btn text-center hidden-xs">
            <a href="#booking">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Book Now
              </button>
            </a>
          </div>
          <!-- Mobile Booking and Availability -->
          <div class="visible-xs text-center">
            <h3>Available 7AM - 10PM</h3>
            <div class="text-center">
              <a href="https://adelina.setmore.com/" target="_blank">
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  Book Now
                </button>
              </a>
            </div>
          </div>
        </div>
      </div><!-- /container -->
    </div><!-- End Landing -->

    <!-- Home -->
    <div class="container home text-center anchor" id="home">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Bridal Makeup And Hair</h2>
          <p>Treat yourself to the best makeup and hair service, carefully
             customized to make your dreams come true on your special day--from
             the comfort of the bride's home.
           </p>
          <img class="home-image" src="img/homebridal.jpg">
        </div><!-- /col -->
        <div class="col-md-4">
          <h2>Fashion, Film, and Beyond</h2>
          <p>Show the lens some love with perfect skin and hair. I have all the
            tools required to work on set, and I will work seamlessly with the
            rest of your editorial, wardrobe, and creative team.
          </p>
          <img class="home-image" src="img/homefashion.jpg">
       </div><!-- /col -->
        <div class="col-md-4">
          <h2>Special Night Out</h2>
          <p>Add some sparkle to your night. Get that celebrity feeling and look
            fabulous!  You and your friends can pop the champagne as I match
            your hair and makeup to your gorgeous outfits.
          </p>
          <img class="home-image" src="img/homespecial.jpg">
        </div><!-- /col -->
      </div><!-- /row -->
      <h2 class="text-center">Latest Work</h2>
      <p class="text-center">Check out our latest transformations</p>
      <br>
      <!-- SnapWidget Full -->
      <div class="hidden-xs">
        <iframe src="https://snapwidget.com/embed/code/235286"
                class="snapwidget-widget" allowTransparency="true"
                frameborder="0" scrolling="no"
                style="border:none; overflow:hidden; width:100%; ">
        </iframe>
      </div>
      <!-- SnapWidget Mobile -->
      <div class="visible-xs">
        <iframe src="https://snapwidget.com/embed/code/235289"
                class="snapwidget-widget" allowTransparency="true"
                frameborder="0" scrolling="no"
                style="border:none; overflow:hidden; width:100%; ">
        </iframe>
      </div>
    </div> <!-- End Home -->

    <!-- Reviews -->
    <div class="container-fluid section-image reviews hidden-xs" id="reviews">
      <div class="gray-overlay anchor">
        <h1 class="text-center">Reviews</h1>
        <p class="text-center">See what the other girls are saying</p>
        <div class="container" id="review-tab">
          <span class="yelp-review"
                data-review-id="nFgJ8gWLqH-2rICH2S202Q"
                data-hostname="www.yelp.com">
                Read
            <a href="https://www.yelp.com/user_details?userid=J1hUkqD9d8bjxIwYMkcpTQ"
               rel="nofollow noopener">
               Mishha C.</a>'s
            <a href="https://www.yelp.com/biz/glam-by-adelina-san-francisco?hrid=nFgJ8gWLqH-2rICH2S202Q"
               rel="nofollow noopener">review</a> of
            <a href="https://www.yelp.com/biz/R4Px3HkCzfl45cM0a7Nj2w"
               rel="nofollow noopener">Glam By Adelina</a> on
            <a href="https://www.yelp.com"
               rel="nofollow noopener">Yelp</a>
          </span>
          <span class="yelp-review"
                data-review-id="yzJAaxdhbWDw_fhQyo0x6Q"
                data-hostname="www.yelp.com">
                Read
            <a href="https://www.yelp.com/user_details?userid=uQ_FP2edFILz1NB3rqRcHQ"
               rel="nofollow noopener">
               Athena M.</a>'s
            <a href="https://www.yelp.com/biz/glam-by-adelina-atlanta?hrid=yzJAaxdhbWDw_fhQyo0x6Q"
               rel="nofollow noopener">
               review</a> of
            <a href="https://www.yelp.com/biz/R4Px3HkCzfl45cM0a7Nj2w"
               rel="nofollow noopener">
               Glam By Adelina</a> on
            <a href="https://www.yelp.com"
               rel="nofollow noopener">
               Yelp</a>
          </span>

          <span class="yelp-review"
                data-review-id="2OLa0bj4mzBb24Ap5j2Tmw"
                data-hostname="www.yelp.com">
                Read
            <a href="https://www.yelp.com/user_details?userid=lxDHOiJCp8oPMdfgJP-PVA"
               rel="nofollow noopener">
               Rachel R.</a>'s
            <a href="https://www.yelp.com/biz/glam-by-adelina-atlanta?hrid=2OLa0bj4mzBb24Ap5j2Tmw"
               rel="nofollow noopener">
               review</a> of
            <a href="https://www.yelp.com/biz/R4Px3HkCzfl45cM0a7Nj2w"
               rel="nofollow noopener">Glam By Adelina</a> on
            <a href="https://www.yelp.com"
               rel="nofollow noopener">
               Yelp</a>
          </span>

          <span class="yelp-review"
                data-review-id="seATmImg8eC61vTy6i1LUA"
                data-hostname="www.yelp.com">
                Read
            <a href="https://www.yelp.com/user_details?userid=qBMhqCNKg7vICCA3FHjJRQ"
               rel="nofollow noopener">
               Natasha B.</a>'s
            <a href="https://www.yelp.com/biz/glam-by-adelina-atlanta?hrid=seATmImg8eC61vTy6i1LUA"
               rel="nofollow noopener">review</a> of
            <a href="https://www.yelp.com/biz/R4Px3HkCzfl45cM0a7Nj2w"
               rel="nofollow noopener">Glam By Adelina</a> on
            <a href="https://www.yelp.com"
               rel="nofollow noopener">Yelp</a>
          </span>

          <span class="yelp-review"
                data-review-id="z3vXSB8z4K3CYEz9xmeT-Q"
                data-hostname="www.yelp.com">
                Read
            <a href="https://www.yelp.com/user_details?userid=4FjKzwsntfvtjgDNukpXlQ"
               rel="nofollow noopener">Fritzi B.</a>'s
            <a href="https://www.yelp.com/biz/glam-by-adelina-atlanta?hrid=z3vXSB8z4K3CYEz9xmeT-Q"
               rel="nofollow noopener">review</a> of
            <a href="https://www.yelp.com/biz/R4Px3HkCzfl45cM0a7Nj2w"
               rel="nofollow noopener">Glam By Adelina</a> on
            <a href="https://www.yelp.com"
               rel="nofollow noopener">Yelp</a>
          </span>

        </div>
      </div>
    </div> <!-- End Reviews -->

    <!-- About -->
    <div class="container about anchor" id="about">
      <h1 class="text-center">Meet Your Artist</h1>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img class="img-responsive" src="img/meetartist.jpg">
        </div>
        <br>
        <div class="col-sm-6 text-left">
          <p>
            Adelina has been a Hair and Makeup Artist since 2010, working across
            all elements of the beauty industry. She was trained in Moscow and
            New York and has worked in salons and as a freelancer.  Her passion
            is exploring art through the human canvas, namely the face, and she
            derives her inspiration from all aspects of life. Adelina’s
            knowledge of makeup, hair, and photography yields depth, intricacy,
            innovation and excitement from her creative vision. Adelina’s
            talents, along with her positive energy and outgoing personality,
            provide everyone with a fun, dependable, detail-oriented
            professional to contribute to the success of the final look.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6 text-center">
          <img class="img-responsive" src="img/meetartist2.jpg">
        </div>
        <br>
        <div class="col-sm-6 text-left">
          <p>
            Adelina believes that every woman is beautiful, it just takes the
            right techniques to enhance their look. She takes pleasure in seeing
            the thrill of her client’s reaction to their new look.
          </p>
          <ul>
            <li>
              Specialty in makeup and hairstyling, bridal, fashion
              and photography.
            </li>
            <li>
              Available at the studio and on location for events such as
              weddings, fashion shows, special events and photo shoots.
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- containter -->

    <!-- Tools -->
    <div class="container-fluid section-image tools hidden-xs" id="tools">
      <div class="gray-overlay anchor">
        <h1 class="text-center">The Tools of the Trade</h1>
        <div class="container">
          <div class="row">
            <!-- Tool List -->
              <div class="col-sm-6">
                <ul>
                  <li>
                    <a href="http://www.sephora.com/foundation-stick-P270549?keyword=BOBBI%20BROWN%20Skin%20Foundation%20Stick%20P270549&skuId=1587435&_requestid=690404"
                       target="_blank">
                       Bobbi Brown
                    </a>,
                    <a target="_blank"
                       href="http://www.maccosmetics.com/product/13847/1231/products/makeup/face/foundation/studio-fix-fluid-spf-15">
                       Mac
                    </a>,
                    <a target="_blank"
                       href="http://www.sephora.com/double-wear-stay-in-place-makeup-P378284?skuId=1465327&icid2=products%20grid:p378284">
                       Estee Lauder
                    </a>,
                    and
                    <a target="_blank"
                       href="http://www.sephora.com/ultimate-coverage-complexion-creme-P384640">
                       Becca
                     </a> foundations for each skin type
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.sephora.com/foundation-primer-oil-free-P140905?skuId=905349&icid2=products%20grid:p140905">
                       Laura Mercier</a>,
                    <a target="_blank"
                       href="http://www.maccosmetics.com/esearch?form_id=perlgem_search_form&search=primer">
                       Mac</a>, and
                    <a target="_blank"
                       href="http://www.sephora.com/backlight-priming-filter-P399831?skuId=1721281&icid2=products%20grid:p399831">
                       Becca</a> primers for all purposes
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.sephora.com/eyeshadow-primer-potion-anti-aging-P381306?skuId=1704410&icid2=products%20grid:p381306">
                       Urban Decay</a> and
                    <a target="_blank"
                       href="http://www.maccosmetics.com/product/13780/33821/prep-prime/eyes/prep-prime-24-hour-extend-eye-base">
                       Mac</a> primers for eyes
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.sephora.com/contour-cream-kit-P401511?skuId=1734748&icid2=products%20grid%3Ap401511">
                       Anastasia Beverly Hills</a>,
                    <a target="_blank"
                       href="http://www.sephora.com/pro-sculpting-face-palette-P404776?skuId=1779800&icid2=products%20grid%3Ap404776">
                       Makeup Forever</a>, and
                    <a target="_blank"
                       href="http://www.sephora.com/shade-light-contour-palette-P392129?skuId=1654110&icid2=use%20it%20with:P392129">
                       Kat Von D</a> contour palletes
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://shop.nordstrom.com/s/tom-ford-eyeshadow-quad/3622573?origin=keywordsearch-personalizedsort">
                       Tom Ford</a>,
                    <a target="_blank"
                       href="http://www.sephora.com/modern-renaissance-eye-shadow-palette-P409118?skuId=1820406&icid2=products%20grid:p409118">
                       Anastasia Beverly Hills</a>,
                    <a target="_blank"
                       href="http://www.maccosmetics.com/product/13840/363/products/makeup/eyes/shadow/eye-shadow">
                       Mac</a>, and
                    <a target="_blank"
                       href="https://www.macys.com/shop/product/inglot-freedom-system-amc-eye-shadow-square?ID=2496524&CategoryID=30077&tdp=cm_app~zMCOM-NAVAPP~xcm_zone~zPDP_ZONE_B~xcm_choiceId~zcidM06MCG-8093bcc0-2df4-4175-b259-c22475e61f6d%40H8%40customers%2Balso%2Bloved%2430077%242496524~xcm_pos~zPos9">
                       Inglot</a> eyeshadows
                  </li>
                  <li>
                    <a target="_blank"
                       href="https://www.macys.com/shop/product/inglot-amc-pure-pigment-eye-shadow?ID=2513454&pla_country=US&CAGPSPN=pla&CAWELAID=120156340003920313&CAAGID=18494350946&CATCI=pla-18283950120&catargetid=120156340003018127&cadevice=c&cm_mmc=Google_Beauty_PLA-_-Beauty_All+Products_GS_All+Products-_-66838451786-_-pg53993_c_kclickid_1fa06f50-454f-4619-9a12-5414ee40e2eb&trackingid=450x53993&gclid=CPOetp_DoNICFVQ8gQod9AMFnA">
                       Inglot</a> and
                    <a target="_blank"
                       href="http://www.maccosmetics.com/product/13848/372/products/makeup/face/multi-use/pigment#/shade/Old_Gold_">
                       Mac</a> pigments and glitters
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.sephora.com/radiant-creamy-concealer-P377873?skuId=1478403&icid2=products%20grid:p377873">
                       Nars</a> and
                    <a target="_blank"
                       href="http://www.sephora.com/creamy-concealer-kit-P285605?skuId=1317775&icid2=products%20grid:p285605">
                       Bobbi Brown</a> concealers
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.maccosmetics.com/esearch?form_id=perlgem_search_form&search=brushes">
                       Mac</a> and
                    <a target="_blank"
                       href="https://www.zoevacosmetics.com/america1/brush-sets/professional/?p=1">
                       Zoeva</a> brushes
                  </li>
                  <li>
                    <a target="_blank"
                       href="http://www.aveda.com/?cm_mmc=Paid_Search-_-Google-_-Brand_TM-_-aveda">
                       Aveda</a> and
                    <a target="_blank"
                       href="https://www.paulmitchell.com/our-products/paul-mitchell/">
                       Paul Mitchell</a> hairproducts
                  </li>
                </ul>
              </div>
            <!-- Tool Brands 1-->
              <div class="col-sm-3">
                <img class="tool-img" src="img/tools/paul.png">
                <img class="tool-img" src="img/tools/aveda.png">
                <img class="tool-img" src="img/tools/becca.png">
                <img class="tool-img" src="img/tools/bobbi.png">
                <img class="tool-img" src="img/tools/zoeva.png">
                <img class="tool-img" src="img/tools/inglot.png">
                <img class="tool-img" src="img/tools/katvond.png">
                <img class="tool-img" src="img/tools/lancome.png">
              </div>
            <!-- Tool Brands 2-->
              <div class="col-sm-3">
                <img class="tool-img" src="img/tools/laura.png">
                <img class="tool-img" src="img/tools/tom.png">
                <img class="tool-img" src="img/tools/mac.png">
                <img class="tool-img" src="img/tools/mufe.png">
                <img class="tool-img" src="img/tools/nars.png">
                <img class="tool-img" src="img/tools/toofaced.png">
                <img class="tool-img" src="img/tools/urban.png">
                <img class="tool-img" src="img/tools/anastasia.png">
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Services -->
    <div class="container services text-center anchor" id="services">
      <h1>Services</h1>
      <p>
        Adelina can easily customize services to meet your needs. Check out
        what's available and let me know what you need!
      </p>

      <!-- New Area -->

      <!-- Lightbox -->
      <div class="modal fade"
           id="myModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- End Lightbox -->
      <!-- Hover Pills -->
      <ul class="nav nav-pills center-pills">
        <li class="active"><a href="#tab-1" data-toggle="tab">Bridal</a></li>
        <li><a href="#tab-2" data-toggle="tab">Makeup</a></li>
        <li><a href="#tab-3" data-toggle="tab">Hair</a></li>
        <li><a href="#tab-4" data-toggle="tab">Eastern</a></li>
      </ul>
      <div class="tab-content well text-left">
      <!-- Tab 1: Bridal -->
        <div class="tab-pane active" id="tab-1">
          <div class="wrap" id="bridal-samples">
            <div class="box" v-for="sample in samples">
              <div class="boxInner">
                <img v-bind:src="sample.image">
              </div>
            </div>
          </div>
        </div>
      <!-- Tab 2: Makeup -->
        <div class="tab-pane" id="tab-2">
          <!-- Portfolio Wrap-->
          <div class="wrap" id="makeup-samples">
            <div class="box" v-for="sample in samples">
              <div class="boxInner">
                <img v-bind:src="sample.image">
              </div>
            </div>
          </div>
        </div>
      <!-- Tab 3: Hair -->
        <div class="tab-pane" id="tab-3">
        <!-- Portfolio Wrap-->
          <div class="wrap" id="hair-samples">
            <div class="box" v-for="sample in samples">
              <div class="boxInner">
                <img v-bind:src="sample.image">
              </div>
            </div>
          </div>
        </div>
      <!-- Tab 4: Eastern -->
        <div class="tab-pane" id="tab-4">
        <!-- Portfolio Wrap-->
          <div class="wrap" id="eastern-samples">
            <div class="box" v-for="sample in samples">
              <div class="boxInner">
                <img v-bind:src="sample.image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Booking Button -->
      <div class="hidden-xs booking-btn">
        <a href="#booking">
          <button type="button"
                  class="btn btn-primary">
            <i class="fa fa-calendar"
               aria-hidden="true"></i>
            Book Now
          </button>
        </a>
      </div>
    </div>

    <!-- Specials -->
    <div class="container-fluid section-image specials hidden-xs" id="specials">
      <div class="gray-overlay anchor text-center">
        <h1>Specials</h1>
        <div class="row">
          <div class="col-xs-7 col-xs-offset-1">
            <div class="price-block">
              <h2>Don't Forget Your Squad!</h2>
              <p><i>Group discounts available for your bridesmaids.</i></p>
              <p><a href="#contact">Contact us below for details.</a></p>
            </div>
          </div>
          <div class="col-xs-7 col-xs-offset-1">
            <div class="price-block">
              <h2>Makeup and Hair Classes</h2>
              <p><i>Learn the art of beauty from a devoted teacher.</i></p>
              <p><a href="#contact">Contact us below for details.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blog -->
    <div class="container blog text-center anchor" id="blog">
      <h1>Blog</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/blog/blog1.png" alt="Wedding Makeup Tips">
            <div class="caption">
              <h3>Wedding Makeup Tips</h3>
              <p>
                Adelina gives you the full breakdown on
                how to prepare for your big day...
              </p>
              <a href="blog1.html"
                 class="btn btn-primary"
                 role="button">
                 Read
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/blog2/blog2.png" alt="Wedding Makeup Tips">
            <div class="caption">
              <h3>Pigment Smokey Eye</h3>
              <p>
                Get perfect smokey eyes with the best tools and techniques...
              </p>
              <a href="blog2.html" class="btn btn-primary" role="button">
                Read
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/blog3/blog3.jpg" alt="The Perfect Bridal Hairstyle">
            <div class="caption">
              <h3>Perfect Bridal Hairstyle</h3>
              <p>
                Adelina's tips on how to narrow down the hunt for the perfect
                hair...
              </p>
              <a href="blog3.html"
                 class="btn btn-primary"
                 role="button">
                 Read
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact -->
    <div class="container-fluid section-image contact text-center hidden-xs"
         id="contact">
      <div class="gray-overlay anchor">
        <h1>Get in Touch</h1>
        <p>Please let us know if you have any questions or special requests.
           Adelina will get back to you as soon as possible.
        </p>
        <div class="row">
          <form action="https://formspree.io/adelina@glambyadelina.com"
                method="POST"
                class="col-xs-7 col-xs-offset-5">
            <label class="sr-only"
                   for="input-name">
                   Name</label>
            <input class="clear-field"
                   type="text"
                   id="input-name"
                   name="Name"
                   placeholder="Name">
            <label class="sr-only"
                   for="input-phone">
                   Phone Number</label>
            <input class="clear-field"
                   type="tel"
                   id="input-phone"
                   name="Phone"
                   placeholder="Phone (Optional)">
            <label class="sr-only"
                   for="input-email">
                   Email Address</label>
            <input class="clear-field"
                   type="email"
                   id="input-email"
                   name="_replyto"
                   placeholder="Email address"
                   required>
            <label class="sr-only"
                   for="input-subject">
                   Subject</label>
            <input class="clear-field"
                   type="text"
                   id="input-subject"
                   name="Message"
                   placeholder="Subject (Optional)">
            <label class="sr-only" for="input-message">
                   Message</label>
            <textarea class="clear-field"
                      style="resize:none"
                      cols="40"
                      rows="5"
                      name="message"
                      id="input-message"
                      placeholder="Message"></textarea>
            <p id="char-count"></p>
            <p id="visible-comment"></p>
            <div class="text-center">
              <input type="submit"
                     value="Send"
                     id="input-submit"
                     class="btn-primary">
            </div>
          </form><!-- End Form-->
        </div>
      </div>
    </div>

    <!-- Booking -->
    <div class="container booking text-center anchor hidden-xs"
         id="booking">
      <div class="wrapper">
        <div class="hide-logo">
          <h1>Booking</h1>
        </div>
        <iframe id="setmore" src="https://adelina.setmore.com/"></iframe>
      </div>
    </div>

    <!-- Footer -->
    <footer>
    &copy; 2017 Adelina Eidelman
    </footer>
    <script async="async"
            src="https://www.yelp.com/embed/widgets.js"
            type="text/javascript">
    </script>
    <script src="https://unpkg.com/vue"></script>
    <script src='js/gridtab.js'></script>
    <script src='js/scripts.js'></script>
    <script src='js/samples.js'></script>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
  </body>
</html>
